In [8]:
import os

sub_dir = '/shared/youngkim/hw4p2_student_data/hw4p2_student_data/submissions/'
# sub_dir = '/root/class/cmu/DL/hw4p2/notebooks'

name = 'cnn-07:16:07:26'
csv = os.path.join(sub_dir, f'{name}.csv')
!kaggle competitions submit -c 11-785-s22-hw4p2-slack -f {csv} -m 'cnn-07:16:07:26'
# !kaggle competitions submit -c 11-785-s22-hw4p2-slack -f {csv} -m 'original-07:06:03:59'

100%|████████████████████████████████████████| 289k/289k [00:03<00:00, 78.5kB/s]
Successfully submitted to Attention-Based Speech Recognition (Slack)

In [5]:
import pandas as pd
pd.read_csv(csv, index_col=False)

        id                                        predictions
0        0  .HIbIgAnhkhnf?UzdkhmplEnthgenstDhWisrd.HUAdvAn...
1        1               .kivnatsO.rnisthmyndthDIzmhmrIzcyld.
2        2                        .hgOldhnfoRchnindhHApIlyf..
3        3      .HIWhzlykhnthmyfaDrindhWE.And?etWhznatmyfaDr.
4        4            .olsODeRWhzhstRipliNpEj.HUtrndittUhmEd.
...    ...                                                ...
2615  2615                          ..HIHAdgatintUHrkoRt?aRd.
2616  2616             ..TRUDhblAg.nytREn.HIsANtUHrWindObaRz.
2617  2617            .DAtWhzbhtRhsliNhvtRipiNplAntsinDhdaRk.
2618  2618                                 ..SIWhzhlOnDAtnyt.
2619  2619                       .HIHAdbROkhnintUHrkWiR?aRnd.

[2620 rows x 2 columns]